In [ ]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that can be accessed, managed, and updated.
SQL Databases: Relational, table-based, use structured query language (SQL), and have a fixed schema. They are vertically scalable and ensure ACID properties (Atomicity, Consistency, Isolation, Durability). Examples: MySQL, PostgreSQL.
NoSQL Databases: Non-relational, can be document-based, key-value pairs, graph databases, or wide-column stores. They have dynamic schemas and are horizontally scalable. They focus on CAP theorem (Consistency, Availability, Partition tolerance). Examples: MongoDB, Cassandra.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
DDL (Data Definition Language) is used to define and manage database structures.
CREATE: Used to create databases and tables.

In [ ]:
CREATE TABLE Students (ID int, Name varchar(255));
# DROP: Deletes tables or databases.
DROP TABLE Students;
# ALTER: Modifies existing database objects.
ALTER TABLE Students ADD Age int;
# TRUNCATE: Removes all records from a table but keeps the structure.
TRUNCATE TABLE Students;

In [ ]:
# What is DML? Explain INSERT, UPDATE, and DELETE with an example.
DML (Data Manipulation Language) is used for managing data within schema objects.

sql;INSERT INTO Students (ID, Name) VALUES (1, 'John');
update:UPDATE Students SET Name = 'Jane' WHERE ID = 1;
DELET:DELETE FROM Students WHERE ID = 1;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.
DQL (Data Query Language) is used to query the database to retrieve data.
SELECT: Retrieves data from one or more tables.

In [ ]:
SELECT * FROM Students;

In [ ]:
# Q5. Explain Primary Key and Foreign Key.
Primary Key: A unique identifier for each record in a table. It must contain unique values and cannot be NULL.
Foreign Key: A field (or collection of fields) in one table that uniquely identifies a row of another table. It creates a relationship between two tables.

In [ ]:
Q6. Write a Python code to connect MySQL to Python. Explain the cursor() and execute() method.

In [1]:
import mysql.connector

# Connect to MySQL
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='password',
    database='test_db'
)

# Create a cursor object
cursor = connection.cursor()

# Execute a query
cursor.execute("SELECT * FROM Students")

# Fetch results
results = cursor.fetchall()
for row in results:
    print(row)

# Close the connection
connection.close()

ModuleNotFoundError: No module named 'mysql'

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.
FROM
WHERE
GROUP BY
HAVING
SELECT
ORDER BY
This order ensures that the data is filtered and grouped before selection and ordering are applied.